@import "tailwindcss";
@theme{
    --color-yellow: #E7C358;
    --color-blue: #1a3852;
    --color-lblue: #45779a;
    --color-tblue: #324c64;
    --color-white: #ffffff;
    --color-black: #1f262c;
    --color-teal: #549e91;
    --color-pink: #ea9daf;
    --color-gray: #efefef;
}

body{
    font-family:Inter;
    color:black;
}

/* h1{
    font-size:clamp(12%, 6.5vw, 2em);
    font-weight:bold;
    line-height:1.25em;
} */

h2{
    font-size:2.25em;
}
p, li {
    font-size:1em;
    /* font-size:clamp(8%, 4vw, 1.5rem);
    font-weight:400; */


}

a p{
    text-decoration: underline;
}
.flash {
    animation: flash 2s infinite;
    transition: none;
}

.effect {
    animation:forwards 2s;
    transition:all;
    overflow:none;
}

.effect :hover {
    /* display:block; check */
    background-color: aqua;
}
@keyframes 
flash {
  0%, 40% { opacity: 1; }
  50%, 90% { opacity: 0; }

}

@keyframes effect {
    
}
@layer{
}

@media ()