@import "tailwindcss";

@theme{
    --color-yellow: #F3F09E;
    --color-blue: #192B46;
    --color-lblue: #83E1EA;
    --color-white: #FFFBF6;
    --color-green: #B6EB6C;
    --color-black: #36251b;
    --color-teal: #8DBDB5;
    --color-pink: #ea9daf;
    --color-gray: #828C9B;
    --color-lred: #f34526;
    --color-red: #A12F29;
    --color-dred: #6C1714;
    --color-orange: #6C1714;
    --color-brown: #CD7F1F;
    --color-lbrown: #d9a743;
    --color-dbrown: #36251b;

}

h2 {
    @apply text-2xl lg:text-4xl font-semibold sm:leading-tight lg:leading-normal pt-4 pb-2
}
h4 {
    @apply text-lg lg:text-xl pb-2
}
body{
    font-family:Inter;
    color:#36251b;
    
    
}
input:focus {
  outline: none;
  border-color: #f34526;
  transition: ease-in-out;
  transition-duration: 400ms;
}
@keyframes dropIn {
    from{
        transform:translateY(-100px);
        opacity:0;

    }
    to {
        transform:translateY(0);
        opacity:100%;
    }
}

#navbar.scrolled {
    animation: dropIn 0.25s ease-in forwards;
    width:50vw;
    max-width:1000px;
    position:sticky;
    top:10px;
}

#navbar.scrolled a {
    @apply text-lred;
}
#navbar.scrolled nav {
    @apply bg-dbrown opacity-90 shadow-md text-black h-14 rounded-full flex ;
}

#navbar.scrolled #name {
    display:none;
}