@import "tailwindcss";
@import 'lenis/dist/lenis.css';

@theme{
    --color-yellow: #F3F09E;
    --color-lblue: #9CD3EA;
    --color-beige: #FFFAF8;
    --color-lgreen: #58C55F;
    --color-green: #008C50;
    --color-gray:#EAE5E3;
    --color-dbrown: #352922;
    --color-brown:#D4800B;
    --color-red: #E00000;
    --color-orange: #FF5100;

     --color-transp: #FCFCFC40;

    --breakpoint-3xl: 120rem;
    --breakpoint-xs: 500px;

    --font-pixel: "Bytesized", monospace;
}

.barcode {
  font-family: "Libre Barcode 128", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pixel {
    font-family:"Bytesized", monospace;

}



@font-face {
  font-family: 'Blau';
  src: url('/fonts/blau7pt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font2 {
    font-family: 'Blau';

}


@font-face {
  font-family: 's';
  src: url('/fonts/Pixel Tactical.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font5 {
    font-family: 's';

}
@font-face {
  font-family: 'slap';
  src: url('/fonts/SlapAndCrumbly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font6 {
    font-family: 'slap';

}
@font-face {
  font-family: 'so';
  src: url('/fonts/so_square.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font7 {
    font-family: 'so';

}
@font-face {
  font-family: 'super';
  src: url('/fonts/Superpix-DONATIONWARE.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font8 {
    font-family: 'super';

}
h1 {
    @apply text-6xl xs:text-7xl xl:text-[12vh] font-semibold
}

h2 {
    @apply text-4xl md:text-5xl lg:text-6xl font-semibold sm:leading-tight  lg:leading-14 pt-4 pb-2
}

h3 {
    @apply text-2xl lg:text-4xl font-semibold sm:leading-tight lg:leading-tight
}
h4 {
    @apply text-lg lg:text-xl pb-2
}
body{

    font-family:Inter;
    color:#36251b;
    
}

section {
    @apply px-3 sm:px-8 md:px-10 lg:px-40 2xl:px-60 3xl:px-100
}
input:focus {
  outline: none;
  border-color: #f34526;
  transition: ease-in-out;
  transition-duration: 400ms;
}
@keyframes blink {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}
.blink {
  animation: blink 1.5s infinite;
}



/* 
#output {
    min-height:200px;
    min-width:200px;
    
  background-image: radial-gradient(
    circle farthest-corner at 75% 75%,
    rgba(0,0,16,1) 0%,
    rgba(0,16,32,1) 50%,
    rgba(0,64,48,1) 100%
  );
  border-radius: 100%;
  color: rgb(32, 220, 128);

  font-size: 3vmin;
  line-height: .55em;
  text-rendering: optimizeSpeed;
  will-change: contents;
  white-space: pre;
} */

/* i'll bring back the scrollbar later, it was causing a weird space on chromium */
::-webkit-scrollbar {
  width: 0px;
  border-radius:50%;

}

::-webkit-scrollbar-track {
  background:#36251b00
}
 
::-webkit-scrollbar-thumb {
    background:#36251b00

}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brown
}