---
import '../styles/global.css';

---
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />		
		<meta name="generator" content={Astro.generator} />
		<script type="module" src="/src/app.js" defer></script>
		<title>Depot</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap" rel="stylesheet">
    </head>
    <body class="w-screen h-screen flex items-center justify-center text-center flex-col gap-10">
        <div class="text-dbrown">
            <h1 class="text-7xl font-bold">404</h1>
            <h3 class="text-xl">Oops! This probably isn't what you're looking for.</h3>
            <a href="/" target="_self" class=" bg-green w-10 bg-green px-2 py-1 rounded-full">
                Go Home
            </a>
        </div>

    </body>
  
