---
import '../styles/global.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
const title = "About";
---
<html lang="en">
<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body class="">				
	

		<Header />
			

	<div class="px-8 md:px-10 lg:px-40 pb-10 bg-white">
		
		<Footer />

	</div>
	
</body>
</html>
