<!-- ---
import BaseLayout from "../components/BaseLayout.astro"
const title = "Contact";

---
<BaseLayout title={title}>
    <section class="w-full min-w-100  bg-lblue rounded-xl flex justify-between items-start pt-50">
        <div>
        <h2>Contact</h2>
        <p>Find a problem in a community, and then work with them to engineer a solu. <br>Something else: partnerships@depot17.com <br> Partnership inquires: partnerships@depot17.com</p>
        </div>
        <div class="grow max-w-180">
            <svg width="100%" height="auto" viewBox="0 0 626 462" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M231.261 1H20C9.5066 1.00002 1 9.5066 1 20V442C1 452.493 9.5066 461 20 461H606C616.493 461 625 452.493 625 442V54.8145C625 44.3211 616.493 35.8145 606 35.8145H280.14C274.136 35.8145 268.418 33.2445 264.433 28.7539L245.471 7.3877C241.865 3.32508 236.693 1.00012 231.261 1Z" stroke="#352922" stroke-width="2"/>
</svg>

        </div>
    </section>
  
</BaseLayout> -->