---
import BaseLayout from "../components/BaseLayout.astro";
import TrackOne from "../components/tracks/trackone.md";
import TrackTwo from "../components/tracks/tracktwo.md";
import TrackThree from "../components/tracks/trackthree.md";

---
 <script>
	import Lenis from "lenis";
    import 'lenis/dist/lenis.css';

	const lenis = new Lenis({
	autoRaf: true,
	});

	lenis.on('scroll', (e) => {
	console.log(e);
	});
</script>
<BaseLayout>
    <!-- <h3 class="text-left">Overview</h3> -->
    <!-- <p>Have an idea? The patience to learn? A team?</p> -->
    <!-- <section class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        
        <div class="grow-1 space-y-2">
            <a href="projects" target="_self" class="flex items-center gap-2">
                <h3 class="tracking-widest">[TRACK ONE]</h3>
				<img src=" width="40px"> 
			</a>            <p class="">Find a problem in a community, and then work with them to engineer a solution. Read more.Find a problem in a community, and then work Read more.</p>

            <div class="bg-red h-60"></div>
            <p class="font-medium">*Be prepared to show a previous project</p>

        </div>

        <div class="grow-1 space-y-2">
            <a href="projects" target="_self" class="flex items-center gap-2 ">
                <h3 class="tracking-widest">[TRACK TWO]</h3>
				<img src="" width="40px"> 
			</a>
            
            <p class="">Find a problem in a community, and then work with them to engineer a solution. Read more.Find a problem in a community, and then work Read more.</p>

            <div class="bg-red h-60"></div>
            <p class="font-medium">*Be prepared to show a previous project</p>

        </div>
    </section>

    -->
	<section class="space-y-8 ">
	<div class="flex  justify-between items-end" >
			<div>
				<p class="font-pixel text-green text-xl">Start today</p>
				<h2>Choose Your Track</h2>
			</div>
			<p class="max-w-130 text-right">We believe you can do more good than just donating money, but rather your  <span class="underline">passion and drive.</span></p>
	</div>
		
		<div class="space-y-2 grid grid-rows-3 justify-end">
			<div class="clickme w-full max-w-240 h-30 pt-8 border-2 border-black rounded-lg flex items-center gap-8 pr-8 pl-4 pb-2 transition-all duration-400 hover:md:-translate-x-20 hover:bg-orange ease-in-out ">
				<h2>01</h2>
				<p class="">Solve local issues. Recommended for: beginners, highschool students and below, school clubs, etc. </p>
			</div>
			<div class="clickme w-full max-w-240 h-30 pt-8 border-2 border-black rounded-lg flex items-center gap-8 pr-8 pl-4 pb-2 transition-all duration-400 hover:md:-translate-x-20 hover:bg-orange ease-in-out">
				<h2>02</h2>
				<p class="">Solve global issues. Recommended for: experienced makers, highschool students and above. </p>
			</div>
			<div class="clickme w-full max-w-240 h-30 pt-8 border-2 border-black rounded-lg flex items-center gap-8 pr-8 pl-4 pb-2 transition-all duration-400 hover:md:-translate-x-20 hover:bg-orange ease-in-out">
				<h2>03</h2>
				<p class="">Mentor Track 1 & 2 participants. Recommended for: adults with technical or publicity skills. </p>
			</div>
		<!-- <div class="w-full h-30 border-2 border-black rounded-lg"></div>
		<div class="w-full h-30 border-2 border-black rounded-lg"></div> -->
		</div>

		
		</section>
        <section class="mt-20 ">
			<div class="bg-lblue rounded-b-xl rounded-tr-xl p-10 min-h-screen">
            	<TrackOne />
			</div>
			<p class="text-center">Have another idea? Unique situation? Email us at hello@depot17.com</p>

        </section>
        <!-- <p class="font-pixel click fixed top-0 left-0 opacity-0 z-1000 pointer-events-none select-none bg-green text-white border-3 border-dbrown 
		rounded-xl rounded-bl-none font-semibold tracking-wide px-2 ">
        click
		</p> -->
	<script src="../follower.js"></script>
</BaseLayout>