---
import BaseLayout from "../components/BaseLayout.astro"
---
<BaseLayout>
    <h2 class="text-left bg-green">Overview</h2>
    <p>Have an idea? The patience to learn? A team?</p>
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="grow-1 ">
            <div>
                <p class="tracking-widest text-green font-semibold">[ TRACK ONE ]</p>
                <h3>Recent Updates</h3>
            </div>

            <p class="">Find a problem in a community, and then work with them to engineer a solution. Read more.Find a problem in a community, and then work Read more.</p>
                
            

            <div class="bg-red h-60"></div>
        </div>

        <div class="grow-1">
            <div>
                <p class="tracking-widest text-green font-semibold">[ TRACK ONE ]</p>
                <h3>Recent Updates</h3>
            </div>

            <p>Find a problem in a community, and then work with them to engineer a solution. Read more.Find a problem in a community, and then work Read more.</p>
            <div class="bg-red h-60"></div>
        </div>
    </section>
   
		
	
</BaseLayout>