---
import BaseLayout from '../components/BaseLayout.astro';
import ProjectsSlot from '../components/projects_slot.astro';
import Three from '../components/Three';

const title = "Depot";
---

<BaseLayout title={title}>
	<span class="click fixed top-0 left-0 opacity-0 z-[10000] pointer-events-none select-none bg-dbrown border-2 
	border-brown rounded-xl rounded-bl-none text-green font-semibold tracking-wide px-1 py-0.5">
    click
	</span>

	<section id="landing" class="  w-screen h-screen text-center flex items-center flex-col">
		<p class="bg-lblue px-3 w-fit mt-14 rounded-sm py-1 font-medium duration-400 z-[100]">APPLICATIONS FOR COHORT ONE ARE OPEN, APPLY BELOW. </p>
		<div class="absolute h-screen top-0 bg-no-repeat bg-size bg-center bg-[url('/images/spotlight.png')] left-0 w-screen justify-center flex flex-col items-center">
			<div class="grid grid-cols-3 place-items-center">
<h1>Build a</h1>
		<div class="absolute h-screen top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
				<Three client:load />
			</div>
<div class="justify-center flex flex-col items-center space-y-4 z-[100]">

				<form action="" method="POST" name="email-form" class=" bg-white flex justify-between font-medium rounded-full 
				text-md text-dbrown pr-2 pl-4 py-2 text-center w-60 lg:w-150 outline-3 outline-dbrown transition-all duration-200 focus-within:outline-lbrown outline-3">
				<input type="email" id="email" name="email" placeholder="e.g. name@youremail.com" class="pl-3 outline-none flex-1 text-green"> 
				<button type="submit" value="submit" 
					class="hidden lg:block bg-red  font-medium rounded-full 
					text-md text-white text-center ">
					<span onclick="this.classList.toggle('text-blue')" class="bg-lred rounded-full block box-border 
					w-10 aspect-[1/1] border-4 border-beige
					flex items-center justify-center focus:border-black">
					<p class="text-beige">
					--> </p>
					</span>
				</button>
			</form>
			</div>
			<h1>Change.</h1>
			</div>
			
						<!-- <p class="text-dbrown max-w-130 pt-4 z-[100] text-center">Find a problem in a community, and then work with them to engineer a solution. Read more. Insert more info talk about highschool.</p> -->


			<!-- <div class="w-[800px] h-[600px] -mt-20">
						<Three  client:only="react" />
					</div> -->
		
				<!-- <button type="submit" value="submit" 
				class="block lg:hidden bg-lred border-2 border-pink font-medium rounded-full text-md text-white px-5 py-1.5 text-center">
						Submit
				</button> -->
	</section>
	<section id="about" class="pb-8  w-full">
		<h2 class="abc xl:max-w-180 lg:max-w-160 max-w-140 font-medium">
			Build real sustainable solutions, and change the world. <i class="text-lgreen" >Today.</i></h2>

		<div class=" w-full flex flex-wrap gap-4">
			<div class="">
				<div class="abd text-dbrown max-w-50">
					<p>Find a problem in a community, and then work with them to engineer a solution. Read more.</p>
				</div>
				<a href="#" class="block bg-dbrown rounded-full px-4 py-2 text-lred font-semibold text-lg w-fit my-4">
					Get Started
				</a>
			</div>
			<div class=" hidden xl:block border-1 border-dbrown  
			w-full max-w-60  xl:max-w-70 2xl:max-w-90 lg:h-70 rounded-xl mt-auto overflow-hidden bg-[url('/images/daydream.jpg')] bg-cover bg-center group">
					<p class="bg-brown opacity-25  group-hover:opacity-100 group-hover:bg-yellow flex  transition-all duration-400 justify-center items-center w-full h-full bg-beige text-center ">100+ Hackers at Daydream</p>

			</div>

			<div class=" border-1 border-dbrown bg-dyellow 
			grow-1 min-w-80 max-w-100 xl:max-w-180 md:max-w-full h-100 lg:h-120 rounded-xl relative overflow-hidden bg-[url('/images/jpeg.jpg')] bg-cover bg-center group">

					<p class="bg-brown opacity-25  group-hover:opacity-100 group-hover:bg-yellow flex  transition-all duration-400 justify-center items-center w-full h-full bg-beige text-center ">80+ Girls at JPEG</p>


				<div class="xl:hidden border-1 border-dbrown bg-dyellow w-[60%]  max-w-70 h-60 md:h-70 rounded-xl absolute bottom-0 right-4 md:right-10 -mb-10 ">
								<img src="/images/jpeg.jpg" class="w-auto h-full object-cover">


				</div>	
			</div>
	</section>
		</div>

	
	<!-- <hr class="my-4 border-dashed border-gray border-2"> -->
	 <!-- turn this into a draggable slideshow in future when they're more devlots -->
	<!-- <section class="my-12 w-full"> 
		<div class="inline-flex items -center gap-4">
			<h3>Recent Updates</h3>
			<div class="box w-10 h-10 bg-red-500 rounded-[50%] "></div>
		</div>			
		<div class=" pt-4 grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] min-h-100 gap-4">
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
		</div>
	</section> -->
	<hr class="trigger hidden">

	<section class="relative space-y-8 min-h-screen change flex flex-col justify-center items-center text-lblue text-center  w-screen">
		<div class="absolute inset-30">	
			<div class="framel">
				<div class="absolute top-0 left-0 border-lgreen border-t-6 border-l-6 w-20 aspect-[1/1]"></div>
				<div class="absolute bottom-0 left-0 border-lgreen border-b-6 border-l-6 w-20 aspect-[1/1]"></div>

			</div>
			<div class=framer>
				<div class="absolute top-0 right-0 border-lgreen border-t-6 border-r-6 w-20 aspect-[1/1]"></div>
				<div class="absolute bottom-0 right-0 border-lgreen border-b-6 border-r-6 w-20 aspect-[1/1]"></div>
			</div>
		</div>

		<h1> DEPOT 17 helps the next generation build a communal future.</h1>
		<p class="font-medium">We believe the youth can can change the world, prove us right.</p>
	</section>

	<section class="w-full lg:p-10 sm:bg-dbrown py-10 h-fit">
		
		<div class="sm:hidden absolute w-screen bg-beige min-h-full left-1/2 -translate-x-1/2  "></div>

		<div class="grid lg:grid-cols-3 w-full px-8 place-items-center relative mt-4">
			<div></div>
			<h2 class="text-center text-lgreen whitespace-nowrap"> Featured Projects</h2>
			<!-- <div class="lg:ml-auto">
				<a href="projects" target="_self" class="flex items-center gap-2">
					<p>View all projects</p>
					<img src="/assets/open_link.svg" width="25px"> 
				</a>
			</div> -->
		</div>
		<p class="text-center my-2 relative z-10 text-beige pb-10">By joining Cohort 1, your project could be featured below!</p>


		<ProjectsSlot />
	</section>
	<!-- <section class="pt-16">
		<h3 class="flex items-center gap-2">Get a free custom website! <span class="text-teal border-2 border-inherit rounded-full py-1 px-2 text-xl"> beta </span></h3>
		<h4>If you're a non-profit or small business you qualify for a free website!</h4>
		<p>This is a trial run and will end Dec 1st, 2025</p>
		<a class="btn">Apply today</a>
		<h4>If you <b>don't</b> qualify, and are avalible to pay for a site, email sophia@buildersdepot.org</h4>
		<p>Email sophia@buildersdepot.org to join this program as a builder</p>
	</section> -->
	<div class="click fixed top-0 left-0 opacity-0 z-1000 pointer-events-none select-none bg-dbrown border-2 border-brown rounded-xl rounded-bl-none text-green font-semibold tracking-wide px-1 py-0.5">
        <p>click</p>
    </div>
	</div> 
	</div>

	<script src="../app.js"></script>
		<script src="../follower.js"></script>
</BaseLayout>
