---
import BaseLayout from '../components/BaseLayout.astro';
import ProjectsSlot from '../components/projects_slot.astro';
const title = "Depot";
---

<BaseLayout title={title}>
	<section id="landing" class="w-screen h-screen lg:-mt-18 bg-brown relative " >
		<div class="grid w-full h-120 place-items-center ">
		<div class="w-full h-[65%] bg-dyellow absolute top-1/2 -translate-y-1/2"></div>
		<div class="col-start-1 row-start-1  h-screen flex flex-col items-center justify-center gap-2 p-4 lg:pb-12 text-center">
			<h1 class="text-white z-1000 text-shadow-4xl text-shadow-brown  text-7xl leading-snug xl:text-[12vh] font-semibold ">Build a <span class="text-green bg-blue text-shadow-none">change</span></h1>
						<p class="text-white z-1000 w-180 text-xl"> Doloremque voluptas, illo alias corporis consectetur qui libero nostrum, fuga nihil dolore labore velit! Numquam excepturi tempora soluta porro aut eos et?</p>

			<!-- <h4 class="text-white ">Wow so at this NGO we are going to do something super epic. <br> But lorem ipsum some information placed here.</h4> -->
			<form action="" method="POST" name="email-form" class="border border-2 border-white flex z-2000 justify-between font-medium rounded-full text-md text-white pr-2 pl-4 py-2  text-center w-60 lg:w-140">
				<input type="email" id="email" name="email" placeholder="e.g. name@youremail.com"> 
				<button type="submit" value="submit" 
					class="hidden lg:block bg-red  font-medium rounded-full 
					text-md text-white text-center">
					<span onclick="this.classList.toggle('-translate-y-1')" class="bg-lred rounded-full block box-border 
					transform -translate-y-1.5 transition-all ease duration-100 px-5 py-1.5 border-2 border-pink
					hover:-translate-y-0.75">
            		<p class="text-white">
						Submit</p>
					</span>
			</button>
			</form>
			<button type="submit" value="submit" 
			class="block lg:hidden bg-lred border-2 border-pink font-medium rounded-full text-md text-white px-5 py-1.5 text-center">
					Submit
			</button>
			
			</div>
			<!-- <span class=" absolute left-30 rotate-8  w-20 lg:w-50 aspect-[5/6] overflow-hiddden lg:ml-0 lg:mb-0 lg:bottom-20 shadow-md text-left 
			hover:scale-105 hover:rotate-10 hover:shadow-lg transition-all bg-yellow text-sm lg:text-lg p-4" 
			style="font-family: Gloria Hallelujah;">
				<p class="font-semibold pb-5">Lorem Ipsum</p> 
				<p>Here is some interesting text that is super useful. <br><br> - Hello World</p>
			</span>
			<span class=" absolute right-30 -rotate-8 aspect-[2/1] w-40 bg-yellow mr-0 mt-0 top-30 shadow-md text-left py-4 px-6
			hover:scale-105 hover:-rotate-10 hover:shadow-lg transition-all" 
			style="font-family: Gloria Hallelujah;">
				<p><b>Lorem Ipsum</b> <br><br> - Hello World</p>
			</span>			 -->
		</div>
			<!-- <div class="h-8 w-[110vw]  bg-black absolute rotate-2">
				<p>Hello world</p>
			</div>
			<div class="h-8 w-[110vw]  bg-black absolute -rotate-2">
				<p>Hello world</p>
			</div> -->
		<p class="barcode text-[14vh] absolute right-10 -bottom-8 ">TODAY</p>
	</section>
	<div class="px-8 md:px-10 lg:px-40 2xl:px-60  pb-10 pt-3">
	<section id="about" class="py-8 ">
		<h2>Build real sustainable solutions and change the world with them</h2>
		<p class="pt-2">Lorem ipsum text blurb wow look here theres stuff continue reading there is even more stuff would you look at that</p>
	</section>

	<hr class="py-4">
		<!-- <h1 class="text-center text-[8vh] font-semibold py-2">Start <span class="bg-blue px-2 text-green">Today</span></h1> -->

	<!-- <section id="intro" class="px-1  w-full h-[80vh] py-4 flex items-center">
		<div class="group transition duration-300 ease-in-out w-full p-8 h-120 bg-gray-200 rounded-2xl">
			<div class="flex items-center gap-4 ">
				<p>1/3</p>
				<div class="h-2 w-80 rounded-full bg-teal"></div>

			</div>
			<div class="flex gap-6 items-center justify-center p-4">
			<div class="pr-8 max-w-180">
				<h2>Choose a project</h2>
				<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ipsa blanditiis enim molestiae officiis maxime cumque natus similique eius odio. Perferendis sint neque doloribus saepe itaque dicta enim minima incidunt?</h3>
			</div>
			<div class="w-220 h-80 bg-brown rounded-xl"></div>
			</div>

		</div> -->

		
	<!-- </section>
			<div class="ml-auto flex gap-4 items-start group transition duration-300 ease-in-out max-w-110 py-6">
			<span class="text-6xl font-bold  group-hover:-rotate-4">2.</span>
			<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ipsa blanditiis enim molestiae officiis maxime cumque natus similique eius odio. Perferendis sint neque doloribus saepe itaque dicta enim minima incidunt?</h3>
		</div>
		<div class="flex gap-4 items-start group transition duration-300 ease-in-out max-w-110 py-6">
			<span class="text-6xl font-bold  group-hover:rotate-4">3.</span>
			<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ipsa blanditiis enim molestiae officiis maxime cumque natus similique eius odio. Perferendis sint neque doloribus saepe itaque dicta enim minima incidunt?</h3>
		</div>

	<section class="lg:px-20 lg:py-6">
		<h2>Have an Idea?</h2>
		<div class="flex flex-wrap gap-2 lg:gap-10 items-center p-4 lg:py-14 lg:p-20  
		bg-gray-200 shadow-lg hover:scale-105 hover:-rotate-1 hover:shadow-xl transition-all">
			<ul class="space-y-6 text-xl lg:pl-5">
				<li>Identify an ongoing issue within a community, big or small.</li>
				<li>Work with locals, form a team and design a sustainable solution</li>
				<li>Receive funding & mentorship to bring your projects to communities</li>
				<button type="button" class="border border-2 border-black font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2">
					<p>Start today</p>	
				</button>
			</ul>
			<div class="max-w-100 w-80 h-auto aspect-[4/3] rounded-lg bg-white"></div>

		</div>
	</section> -->

	<section>
		<div class="inline-flex items-center gap-4">
			<h2>Recent Updates</h2>
			<div class="box w-10 h-10 bg-red-500 rounded-[50%] "></div>
		</div>
		
		<div class=" pt-4 grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))]  min-h-100 gap-4">
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
			
		</div>
	</section>

	<section class="py-6">
		<div class="grid grid-cols-3 w-full px-8 place-items-center">
			<div></div>
			<h1 class="text-[6vh] font-semibold ">Ongoing&nbsp;Projects</h1>
			<div class="ml-auto">
				<a href="projects" target="_self" class="flex items-center gap-2">
					<p>View all projects</p>
					<img src="/assets/open_link.svg" width="25px"> 
				</a>
				
			</div>
		</div>
		

		<p class="text-center pb-4">Highschool students from around the world are currently building...</p>
		<ProjectsSlot />
	</section>
	<section>
		<h2 class="flex items-center gap-2">Get a free custom website! <span class="text-teal border-2 border-inherit rounded-full py-1 px-2 text-xl"> beta </span></h2>
		<h4>If you're a non-profit or small business you qualify for a free website!</h4>
		<p>This is a trial run and will end Dec 1st, 2025</p>
		<a class="btn">Apply today</a>
		<h4>If you <b>don't</b> qualify, and are avalible to pay for a site, email sophia@buildersdepot.org</h4>
		<p>Email sophia@buildersdepot.org to join this program as a builder</p>
	</section>
	</div>
	<script src="../app.js"></script>
</BaseLayout>
