---
import '../styles/global.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />		
		<meta name="generator" content={Astro.generator} />
		<title>Depot</title>
	</head>
	<body>				
		<section id="landing" class="w-[calc(100vh - 1.5em)] h-screen bg-blue">
		<Header />
		<div class=" w-screen h-[100vh] -mt-21 flex flex-col items-center justify-center gap-2 text-center sm:px-20">
			<span class="text-[8vh] font-bold text-white">Insert sick text here</span>
			<p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Wow so at this NGO we are going to do something super epic</p>
			<button type="button" class="text-white bg-tblue border border-2 border-white font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2">
				Join us today
			</button>
		</div>
		</section>
		<div class="px-8 md:px-10 lg:px-34 pb-10">
			<section id="about" class="py-8">
				<h1>Build projects then change the world with them</h1>
				<p>Lorem ipsum text blurb wow look here theres stuff continue reading there is <br>even more stuff would you look at that</p>
			</section>
		
		<!-- <section id="steps" class="flex flex-wrap my-8 justify-center w-full gap-8">
			<img src="" alt="" class="w-90 h-60 bg-gray-300">
			<div>
				<h2>Are you a highschool student or younger?</h2>
				<ol>
					<li>Sign up</li>
					<li>Build projects with funding</li>
					<li>Watch your project change the world</li>
				</ol>
			</div>
		</section> -->
			<section>
				<div class="inline-flex items-center gap-4">
					<h1>Ongoing Projects</h1>
					<div class="w-10 h-10 bg-red-500 rounded-[50%]"></div>
				</div>
				<div>
				<div class=" pt-4 grid-cols-[repeat(auto-fit,minmax(250px,1fr))] grid gap-x-12 gap-y-6 min-h-100 w-full">
					<div class="w-full h-full bg-blue rounded-lg border-4 border-black p-6">
						<div class="text-white bottom-0">
							<span class="sm:text-[4vh] font-bold">Project</span>
							<p>this is the description of a super dope project</p>
						</div>
					</div>
					<div class="w-full h-full bg-blue rounded-lg border-4 border-black p-6">
						<div class="text-white bottom-0">
							<span class="sm:text-[4vh] font-bold">Project</span>
							<p>this is the description of a super dope project</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- <section class="bg-beige">
			<form action="/tk sheets" method="post">
				<p>
					<label for="fname">First name</label>
					<input type="text" id="fname" name="fname" value="First name">
				</p>
				<p>
					<label for="lname">Last name</label>
					<input type="text" id="lname" name="lname" value="Last name">
				</p>
				<p>
    				<label for="msg">Message:</label>
    				<textarea id="msg" name="user_message"></textarea>
				</p>
				<p>
					<label for="buildn">Yes</label>
					<input type="radio" id="buildy">
					<label for="buildn">No</label>
					<input type="radio" id="buildn"> 
				</p>
				<button type="submit" class="w-50 h-10 bg-blue">Submit</button>
			</form>
		</section> -->
		<Footer />
		
	</body>
</html>
