---
import BaseLayout from '../BaseLayout.astro';
const title = "Depot";
---

<BaseLayout>
	<section id="landing" class="w-[calc(100vh - 1.5em)] h-screen bg-blue" style="background: #03496A;
		background: linear-gradient(180deg, rgba(3, 73, 106, 1) 0%, rgba(255, 255, 255, 1) 100%);">
		<div class=" w-screen h-[100vh] -mt-21 flex flex-col items-center justify-center gap-2 text-center sm:px-20">
			<span class="text-[8vh] font-bold text-white">Insert sick text here</span>

			<span class="mb-8 text-lg font-normal text-white lg:text-xl sm:px-16 ">
				Wow so at this NGO we are going to do something super epic</span>
			<button type="button"  class="border border-2 border-white font-medium rounded-full text-md text-white px-5 py-2.5 text-center me-2 mb-2">
				Join us today
			</button>
			<span class="absolute left-30 rotate-8 aspect-[5/6] w-50 bg-gray-200 ml-0 mb-0 bottom-20 shadow-md text-left py-4 px-6
			hover:scale-105 hover:rotate-10 hover:shadow-lg transition-all" 
			style="font-family: Gloria Hallelujah;">
				<p class="font-semibold pb-5">Lorem Ipsum</p> 
				<p>Here is some interesting text that is super useful. <br><br> - Hello World</p>
			</span>
			<span class="absolute right-30 -rotate-8 aspect-[2/1] w-40 bg-gray-200 mr-0 mt-0 top-30 shadow-md text-left py-4 px-6
			hover:scale-105 hover:-rotate-10 hover:shadow-lg transition-all" 
			style="font-family: Gloria Hallelujah;">
				<p><b>Lorem Ipsum</b> <br><br> - Hello World</p>
			</span>			
		</div>
	</section>
	<div class="px-8 md:px-10 lg:px-40 pb-10 bg-white">
		<section id="about" class="py-8 pb-18">
			<h1 class="text-[5vh] font-semibold">Build real sustainable solutions and change the world with them</h1>
			<p>Lorem ipsum text blurb wow look here theres stuff continue reading there is <br>even more stuff would you look at that</p>
		</section>
		<hr>
	<!-- <section id="steps" class="flex flex-wrap my-8 justify-center w-full gap-8">
		<img src="" alt="" class="w-90 h-60 bg-gray-300">
		<div>
			<h2>Are you a highschool student or younger?</h2>
			<ul>
				<li>
					<span class="num">1</span>
					<p>Sign up</p>
				</li>
				<li>
					<span class="num">2</span>
					<p>Build projects with funding</p>
				</li>
				<li>
					<span class="num">3</span>
					<p>Watch your project change the world</p>
				</li>
			</ul>
		</div>
	</section> -->
		<section class="w-full h-auto flex justify-between py-10 p-20">
			<div>
				<h1 class="text-[5vh] font-semibold pb-6">Have an Idea?</h1>
				<ul class="space-y-6 text-xl list-image-none pl-5">
					<li>Identify an ongoing issue within a community, big or small.</li>
					<li>Work with locals, form a team and design a sustainable solution</li>
					<li>Receive funding & mentorship to bring your projects to communities</li>
					<button type="button" class="border border-2 border-black font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2">
						<p>Start today</p>	
					</button>
					
				</ul>
			</div>
			<div class="w-100 h-80 rounded-lg bg-gray">
			</div>
		</section>
		<section>
			<div class="inline-flex items-center gap-4">
			<h1 class="text-[5vh] font-semibold">Recent Updates</h1>
				<div class="box w-10 h-10 bg-red-500 rounded-[50%] flash"></div>
			</div>
			<div>
			<div class=" pt-4 grid-cols-[repeat(auto-fit,minmax(250px,1fr))] grid gap-x-6 gap-y-6 min-h-100 w-full">
				<a href="/updates/post">
					<div class="w-full h-full bg-gray rounded-2xl p-6 border-2 border-black min-h-60">
						<div class="  bottom-0">
							<span class="sm:text-[4vh] font-bold">Project</span>
							<p>this is the description of a super dope project</p>
						</div>
					</div>
				</a>
				<div class="w-full h-full bg-gray rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
				<div class="w-full h-full bg-gray rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</div>
		</section>

		<section class="py-6">
			<h1 class="text-center text-[6vh] font-semibold">Ongoing Projects</h1>
			<p class="text-center pb-4">Highschool students from around the world are currently building...</p>
			<div class="space-y-10">
				<a href="proj1.astro" target="_self" class="block">
					<div class="block relative w-full h-100 bg-gray rounded-2xl p-6 border-2 border-black hover:scale-102 duration-300 transition-all">
					<button type="button" class=" flex items-center overflow-hidden transition-all border border-2 border-black font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 absolute right-10 ">
					<span class="w-full group-hover:text-white transition colors duration-200 ease-in-out ">Support this</span>
					</button>
					<div class="absolute bottom-0 mb-10">
						<h1 class="text-[5vh] font-semibold">Project No. 1</h1>
						<p>By: Sia R. & Sophia D.</p>
						<p class="pt-2 lg:pr-100">This is the description of a super dope project. Here is a brief explanation for the viewer. 
							And also a bit about the idea and or progress.</p>
					</div>
					</div>
				</a>
				<a href="proj2.astro" target="_self" class="block">
					<div class="relative w-full h-100 bg-gray rounded-2xl p-6 border-2 border-black hover:scale-102 duration-300 transition-all">
					<button type="button" class="border border-2 border-black font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 absolute right-10">
					Support this
					</button>
					<div class="absolute bottom-0 mb-10">
						<h1 class="text-[5vh] font-semibold">Project No. 2</h1>
						<p>By: Sia R. & Sophia D.</p>
						<p class="pt-2 lg:pr-100">This is the description of a super dope project. Here is a brief explanation for the viewer. 
							And also a bit about the idea and or progress.</p>
					</div>
				</div>
				</a>
				
			</div>
			
		</section>

	</div>


	<!-- <section class="bg-beige">
		<form action="/tk sheets" method="post">
			<p>
				<label for="fname">First name</label>
				<input type="text" id="fname" name="fname" value="First name">
			</p>
			<p>
				<label for="lname">Last name</label>
				<input type="text" id="lname" name="lname" value="Last name">
			</p>
			<p>
				<label for="msg">Message:</label>
				<textarea id="msg" name="user_message"></textarea>
			</p>
			<p>
				<label for="buildn">Yes</label>
				<input type="radio" id="buildy">
				<label for="buildn">No</label>
				<input type="radio" id="buildn"> 
			</p>
			<button type="submit" class="w-50 h-10 bg-blue">Submit</button>
		</form>
	</section> -->
</BaseLayout>
