---
import BaseLayout from '../components/BaseLayout.astro';
import ProjectsSlot from '../components/projects_slot.astro';
import Three from '../components/Three';

const title = "Depot";
---

<BaseLayout title={title}>
	
	<div id="landing" class="h-screen w-screen min-h-160
		flex flex-col md:gap-y-3 pb-6 pt-18 md:pt-0 md:grid grid-rows-3
		px-4 lg:px-10 2xl:px-20 lg:mt-0 lg:py-20 bg-none md:bg-[url('/images/spotlight.webp')] 
		bg-no-repeat bg-[center_top_-4rem] spotlight">
		
		<p class="w-fit mx-auto px-2 py-1 rounded-sm text-center font-medium bg-lblue text-xs sm:text-base md:hidden ">
			APPLICATIONS FOR COHORT ONE ARE OPEN, APPLY&nbsp;BELOW. 
		</p>

		<div class="w-full min-h-fit md:hidden pt-2">
			<h1>Build<br>Change</h1>
		</div>
<div></div>
		<div class="-mx-4 lg:-mx-10 2xl:-mx-20 w-screen box-border px-10 2xl:px-20 grow flex items-center justify-center md:grid md:grid-cols-3 items-center">

			<h1 class="z-[100] hidden md:inline-grid justify-self-start">Build</h1>
			
			<div class="w-screen lg:w-full max-w-120 h-30 flex items-center justify-center 
			
			 justify-self-center relative">
				<div class="dborder-14 border-beigeragme col-start-1 row-start-1 w-screen h-full flex justify-center items-center">
					<Three client:load />
				</div>
				<form action="" method="POST" name="email-form" 
				class=" absolute bg-beige hidden lg:inline-flex flex justify-between font-medium rounded-full z-[100]
				
				text-md text-dbrown pr-2 pl-4 py-2 min-h-10 max-h-18 w-110   xl:w-120 2xl:w-140 3xl:w-160
			
				text-center outline-3 outline-dbrown transition-all duration-200">

					<input type="email" id="email" name="email" placeholder="e.g. email" 
					class="pl-3 outline-none border-none min-w-4  text-green bg-transparent"> 

					<button type="submit" value="submit" 
					class="bg-red font-medium 
					rounded-full text-md text-beige text-center">
						
						<span onclick="this.classList.toggle('text-blue')" 
						class="bg-lred rounded-full block box-border 
						w-12 md:w-10 aspect-[1/1] border-3 border-lgreen
						flex items-center justify-center focus:border-black ">
							<p class="text-beige font-bold">--&gt</p>
						</span>

					</button>

				</form>

			</div>


			<h1 class="z-[100] hidden md:inline-grid justify-self-end">Change</h1>

		</div>
		<div class="h-fit mt-auto">
			<a class="lg:hidden block bg-red w-fit px-3 py-2 rounded-full whitespace-nowrap text-beige text-lg font-medium">SIGN UP --&gt</a>
			<div class="w-full flex justify-between items-center self-end pt-4">		
				<p class="mr-auto text-dbrown text-left max-w-80">Find a problem in a community, and then work with them to engineer a solution. </p>
				<svg class="hidden lg:inline-flex" width="332" height="187" viewBox="0 0 332 187" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M206.173 1.5H312C322.217 1.5 330.5 9.78273 330.5 20V167C330.5 177.217 322.217 185.5 312 185.5H20C9.78274 185.5 1.5 177.217 1.5 167V42.6689C1.50022 32.4519 9.78287 24.1689 20 24.1689H166.295C171.793 24.1688 177.082 22.0634 181.074 18.2842L193.456 6.56445C196.892 3.31259 201.442 1.50009 206.173 1.5Z" stroke="black" stroke-width="3"/>
				</svg>

			</div>
		</div>


			
	
	</div>
	<hr class="fixed-nav-trigger opacity-0 pt-20">


	<section id="about" class="pb-8 h-auto lg:py-20 w-full">
		<h2 class="nav-links xl:max-w-190 lg:max-w-160 max-w-140 font-medium">
			Build real sustainable solutions, and change the world. <i class="text-lgreen" >Today.</i>
		</h2>

		<div class=" w-full flex flex-wrap gap-x-12 xl:gap-x-4 2xl:justify-between">
			<div class="">
				<div class="abd text-dbrown max-w-50">
					<p>Find a problem in a community, and then work with them to engineer a solution. Read more.</p>
				</div>
				<a href="#" class="block bg-dbrown rounded-full px-4 py-2 text-lblue font-semibold text-lg w-fit my-4">
					Get Started
				</a>
			</div>
			<div class="ml-auto hidden grayscale xl:block 
			w-full max-w-60  xl:max-w-70 2xl:max-w-90 lg:h-70 rounded-xl mt-auto  bg-[url('/images/daydream.jpg')] bg-cover bg-center group/daydream">
				<p class="w-full h-full bg-yellow/20 hover:bg-yellow/70
					rounded-xl transition-all duration-500 ease-in-out flex justify-center items-center text-center p-6 text-dbrown/0 group-hover/daydream:text-dbrown/100">
					100+ Hackers at Daydream 
				</p>

			</div>


<div class="mask-[url(/images/polygon2.svg)] md:mask-[url(/images/polygon.svg)] mt-10 grayscale 
			grow-1 w-80 xl:max-w-180 md:max-w-full mask-no-repeat mask-cover 
			h-100 lg:h-120 rounded-xl overflow-visible relative bg-[url('/images/jpeg.jpg')] bg-cover bg-center">
				<p class="w-full h-full bg-yellow/25 hover:bg-yellow/70
					transition-all duration-500 ease-in-out flex justify-center items-center text-center p-6 text-dbrown/0 hover:text-dbrown/100">
					80+ Girls and non-binary folk at JPEG
				</p>


				
			</div>
			<div class="z-[1000] xl:hidden grayscale w-[60%]  max-w-70 h-50 md:h-70 
				bg-[url('/images/daydream.jpg')] bg-cover bg-center rounded-2xl group/daydream ml-auto mr-5 -translate-y-30 border-1 border-beige">
					
				<p class="w-full h-full bg-yellow/25 hover:bg-yellow/70
					rounded-xl transition-all duration-500 ease-in-out flex justify-center items-center text-center p-6 text-dbrown/0 hover:text-dbrown/100">
					100+ Hackers at Daydream (Game Jam)
				</p>
				</div>	
	</section>

	<!-- <hr class="my-4 border-dashed border-gray border-2"> -->
	 <!-- turn this into a draggable slideshow in future when they're more devlots -->
	<!-- <section class="my-12 w-full"> 
		<div class="inline-flex items -center gap-4">
			<h3>Recent Updates</h3>
			<div class="box w-10 h-10 bg-red-500 rounded-[50%] "></div>
		</div>			
		<div class=" pt-4 grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] min-h-100 gap-4">
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
		</div>
	</section> -->
	<hr class="trigger opacity-0">
<svg class="-mb-2" width="100%" height="auto" viewBox="0 0 1437 91" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1 71.0742C-1.00009 71.0495 -1.00098 71.0248 -1.00098 71V45.1387C-1.00098 43.9577 -1.95775 43.0002 -3.13867 43C-4.81869 43 -5.84293 41.1519 -4.95215 39.7275L14.0244 9.39258C17.6801 3.54906 24.0877 0 30.9805 0L224.021 0C230.914 5.03181e-05 237.322 3.54983 240.978 9.39355L252.37 27.6064C256.026 33.4502 262.433 36.9999 269.326 37L1418 37C1429.05 37.0003 1438 45.9545 1438 57V67H1438V91L-1 91V71.0742Z" fill="#008C50"/>
</svg>

	<div class="relative space-y-8 flex justify-center items-center text-lblue text-center w-screen h-screen bg-green">
		<div class="grid grid-cols-1 place-items-center inset-5  h-full w-full grid place-items-center py-8 px-4 sm:px-10 lg:px-12">	
			
			<div class="col-start-1 row-start-1 w-full h-full flex items-center justify-between">
				<div class="max-w-14 md:max-w-30 flex flex-col justify-between w-full h-full">
					<div class="w-full aspect-[1/1] border-t-6 border-l-6"></div>
					<div class="w-full aspect-[1/1] border-b-6 border-l-6"></div>
				</div>

				<div class="max-w-14 md:max-w-30 flex flex-col justify-between w-full h-full">
					<div class="w-full aspect-[1/1] border-t-6 border-r-6"></div>
					<div class="w-full aspect-[1/1] border-b-6 border-r-6"></div>
				</div>
			</div>

			<svg width="75%" height="auto" class="col-start-1 row-start-1 opacity-90" viewBox="0 0 1362 696" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g opacity="0.2" filter="url(#filter0_g_319_45)">
			<path d="M5.09183 25.1815C6.57648 215.281 5.34315 565.648 5.00009 652.915C4.95653 663.995 13.9257 673 25.0056 673H360.305C366.942 673 373.147 669.708 376.867 664.211L455.48 548.079C457.721 544.769 458.918 540.864 458.918 536.867V143.72C458.918 139.36 457.493 135.119 454.86 131.643L364.92 12.9228C361.139 7.93213 355.239 5 348.978 5H25.1087C13.9888 5 5.00499 14.0619 5.09183 25.1815Z" fill="#58C55F" fill-opacity="0.4"/>
			<path d="M608.918 389V333C608.918 321.954 617.872 313 628.918 313H738.918C749.964 313 758.918 321.954 758.918 333V389C758.918 400.046 749.964 409 738.918 409H628.918C617.872 409 608.918 400.046 608.918 389Z" fill="#58C55F" fill-opacity="0.4"/>
			<path d="M859.277 9.89563L773.08 84.7086C765.115 91.6212 763.887 103.531 770.273 111.923L816.415 172.567C823.255 181.557 836.177 183.102 844.943 175.979L860.306 163.497C873.376 152.878 892.918 162.179 892.918 179.019V671C892.918 682.046 901.872 691 912.918 691H996.918C1007.96 691 1016.92 682.046 1016.92 671V25C1016.92 13.9543 1007.96 5 996.918 5H872.387C867.57 5 862.915 6.73836 859.277 9.89563Z" fill="#58C55F" fill-opacity="0.4"/>
			<path d="M1062.92 117V25C1062.92 13.9543 1071.87 5 1082.92 5H1336.92C1347.96 5 1356.92 13.9543 1356.92 25V134.685C1356.92 136.223 1356.74 137.756 1356.39 139.254L1230.54 675.569C1228.42 684.609 1220.35 691 1211.07 691H1120.24C1107.32 691 1097.79 678.933 1100.79 666.364L1221.05 161.636C1224.04 149.067 1214.51 137 1201.59 137H1082.92C1071.87 137 1062.92 128.046 1062.92 117Z" fill="#58C55F" fill-opacity="0.4"/>
			</g>
			<defs>
			<filter id="filter0_g_319_45" x="0" y="0" width="1361.92" height="696" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
			<feTurbulence type="fractalNoise" baseFrequency="0.20000000298023224 0.20000000298023224" numOctaves="3" seed="589" />
			<feDisplacementMap in="shape" scale="10" xChannelSelector="R" yChannelSelector="G" result="displacedImage" width="100%" height="100%" />
			<feMerge result="effect1_texture_319_45">
			<feMergeNode in="displacedImage"/>
			</feMerge>
			</filter>
			</defs>
			</svg>


			<div class="col-start-1 row-start-1 max-w-380 w-[90%] z-[100]">
				<span class="text-4xl xs:text-7xl font-semibold leading-12 xs:leading-16 md:leading-20 xl:text-8xl xl:leading-24 3xl:text-9xl 3xl:leading-34"> 
					We help the next generation build a communal future.</span>
				<p class="font-medium underline pt-10 px-2">We believe the youth can can change the world, prove us right.</p>
			</div>
		</div>
		
	</div>


	
	<section class="w-full bg-dbrown pt-10 md:pt-20 pb-60">
	<!-- <div class="bg-dbrown -mx-4 sm:-mx-6 md:-mx-10 lg:-mx-40 2xl:-mx-60 3xl:-mx-100">
		<svg width="100%" height="auto" viewBox="0 0 1439 91" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M1439 34C1439 45.0457 1430.05 54 1419 54H1293.82C1286.93 54.0001 1280.52 57.5493 1276.86 63.3926L1265.47 81.6074C1261.81 87.4507 1255.41 90.9999 1248.51 91H1055.47C1048.58 90.9999 1042.17 87.4507 1038.52 81.6074L1027.12 63.3926C1023.47 57.5493 1017.06 54.0001 1010.17 54H20C8.95432 54 0 45.0457 0 34V0H1439V34Z" fill="#008C50"/>
		</svg>
	</div>	 -->


		<div class="grid lg:grid-cols-3 w-full px-8 place-items-center relative mt-4">
			<div></div>
			<h2 class="text-center text-lgreen md:whitespace-nowrap"> Featured Projects</h2>
			<div class="lg:ml-auto">
				<a href="projects" target="_self" class="flex items-center gap-2">
					<!-- <p>View all projects</p> -->
					<!-- <img src="/images/open_link.svg" width="25px" class="text-white">  -->
					 <span class="text-lg nav-links text-lgreen">View all</span>
				</a>
			</div>
		</div>
		<p class="text-center my-2 relative z-10 text-beige pb-10 ">By joining Cohort 1, your project could be featured below!</p>


		<ProjectsSlot />
	</section>

	<div class="click fixed top-0 left-0 opacity-0 z-1000 pointer-events-none select-none bg-dbrown border-2 border-brown rounded-xl rounded-bl-none text-green font-semibold tracking-wide px-1 py-0.5">
        <p>click</p>
    </div>
	<div class="drag fixed top-0 left-0 opacity-0 z-1000 pointer-events-none select-none bg-dbrown border-2 border-brown 
		rounded-xl rounded-bl-none text-lgreen font-semibold tracking-wide px-1 py-0.5">
        <p>drag</p>
    </div>
	</div> 
	</div>

	<script src="../app.js"></script>
		<script src="../follower.js"></script>
</BaseLayout>
