---
import BaseLayout from '../components/BaseLayout.astro';
import ProjectsSlot from '../components/projects_slot.astro';
import Three from '../components/Three';

const title = "Depot";
---

<BaseLayout title={title}>
	
	<section id="landing" class="w-screen h-screen bg-[url('/images/spotlight.webp')] bg-no-repeat 
		spotlight-lg bg-[center_top_-4rem] flex flex-col items-center justify-center gap-y-4 pt-[90px] lg:py-20 box-border relative">
		
		<div class="hidden lg:block dragme col-start-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 overflow-hidden ">
			<Three client:load />
		</div>

		<p class="bg-lblue w-fit text-xs sm:text-base px-2 rounded-sm hover:bg-brown hover:text-yellow py-1 text-center font-medium duration-400 z-[100]">
			APPLICATIONS FOR COHORT ONE ARE OPEN, APPLY&nbsp;BELOW.
		</p>

		<div class="lg:hidden w-full relative min-h-20 ">
			<h1 class="text-left lg:hidden absolute top-0 left-0">Build a<br>Change</h1>
		</div>

		<div class="-mt-10 xl:px-10 w-screen h-screen space-y-4 grid grid-cols-1 lg:grid-cols-3 place-items-center">
			
			<h1 class="hidden lg:block h-fit">Build a</h1>
			
			<div class="h-auto flex flex-col items-center justify-center w-screen lg:w-auto">
				<img src="/images/claw.png" class="max-w-160 lg:hidden">
				<p class="hidden lg:block opacity-0 text-dbrown max-w-130 z-[100] text-center">
					Find a problem in a community, and then work with them to engineer a solution. </p> 

				<form action="" method="POST" name="email-form" 
				class="bg-white flex justify-between font-medium rounded-full z-[100]

				text-md text-dbrown pr-2 pl-4 py-2 min-h-12 w-120 max-w-[90%] xl:w-120 2xl:w-160 3xl:w-190
			
				text-center outline-3 outline-dbrown transition-all duration-200 ">

				<input type="email" id="email" name="email" placeholder="e.g. email" 
				class="pl-3 outline-none min-w-4  text-green"> 

				<button type="submit" value="submit" 
				class="bg-red font-medium 
				rounded-full text-md text-beige text-center">
					
					<span onclick="this.classList.toggle('text-blue')" 
					class="bg-lred rounded-full block box-border 
					w-12 md:w-10 aspect-[1/1] border-3 border-lgreen
					flex items-center justify-center focus:border-black ">
						<p class="text-beige font-bold">--&gt</p>
					</span>

				</button>

				</form>
					<p class="text-dbrown max-w-130 mx-8 pt-2 z-[100] text-center">
			Find a problem in a community, and then work with them to engineer a solution. </p> 
			</div>
			<h1 class="hidden lg:block">Change.</h1>

		</div>
			
	
		</div>
	</section>
	<hr class="fixed-nav-trigger opacity-0">


	<section id="about" class="pb-8   lg:py-20 w-full">
		<h2 class="abc xl:max-w-190 lg:max-w-160 max-w-140 font-medium">
			Build real sustainable solutions, and change the world. <i class="text-lgreen" >Today.</i></h2>

		<div class=" w-full flex flex-wrap gap-x-12 xl:gap-x-4">
			<div class="">
				<div class="abd text-dbrown max-w-50">
					<p>Find a problem in a community, and then work with them to engineer a solution. Read more.</p>
				</div>
				<a href="#" class="block bg-dbrown rounded-full px-4 py-2 text-lblue font-semibold text-lg w-fit my-4">
					Get Started
				</a>
			</div>
			<div class=" hidden grayscale xl:block border-1 border-dbrown  
			w-full max-w-60  xl:max-w-70 2xl:max-w-90 lg:h-70 rounded-xl mt-auto  bg-[url('/images/daydream.jpg')] bg-cover bg-center group/daydream">
				<p class="w-full h-full lg:bg-linear-to-tr bg-linear-to-t from-green/20 to-yellow/30 group-hover/daydream:from-green/100 group-hover/daydream:to-yellow/70 
					rounded-xl transition-all duration-500 ease-in-out flex justify-center items-center text-center p-6 text-beige/0 group-hover/daydream:text-beige/100">
					100+ Hackers at Daydream 
				</p>

			</div>

			<div class="mt-10 grayscale border-1 border-dbrown bg-dyellow 
			grow-1 w-80 xl:max-w-180 md:max-w-full 
			h-100 lg:h-120 rounded-xl relative bg-[url('/images/jpeg.jpg')] bg-cover bg-center group/jpeg">
				<p class="w-full h-full lg:bg-linear-to-tl bg-linear-to-t from-green/20 to-yellow/30 group-hover/jpeg:from-green/100 group-hover/jpeg:to-yellow/70 
					rounded-xl transition-all duration-500 ease-in-out flex justify-center top-40 lg:items-center text-center p-6 text-beige/0 group-hover/jpeg:text-beige/100">
					80+ Girls and non-binary folk at&ThickSpace;<a href="https://jpeg.hackclub.com" target="_blank">JPEG</a> 
				</p>


				<div class="xl:hidden grayscale border-1 border-dbrown bg-dyellow w-[60%]  max-w-70 h-50 md:h-70 
				bg-[url('/images/daydream.jpg')] bg-cover bg-center rounded-xl absolute group/daydream bottom-0 right-4 md:right-10 -mb-10 ">
					
				<p class="w-full h-full bg-linear-to-tl from-green/20 to-yellow/30 group-hover/daydream:from-green/100 group-hover/daydream:to-yellow/70 
					rounded-xl transition-all duration-500 ease-in-out flex justify-center items-center text-center p-6 text-beige/0 group-hover/daydream:text-beige/100">
					100+ Hackers at Daydream (Game Jam)
				</p>
				</div>	
			</div>
	</section>

	<!-- <hr class="my-4 border-dashed border-gray border-2"> -->
	 <!-- turn this into a draggable slideshow in future when they're more devlots -->
	<!-- <section class="my-12 w-full"> 
		<div class="inline-flex items -center gap-4">
			<h3>Recent Updates</h3>
			<div class="box w-10 h-10 bg-red-500 rounded-[50%] "></div>
		</div>			
		<div class=" pt-4 grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] min-h-100 gap-4">
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
			<a href="/updates/post">
				<div class="h-full bg-yellow rounded-2xl p-6 border-2 border-black min-h-60">
					<div class="  bottom-0">
						<span class="sm:text-[4vh] font-bold">Project</span>
						<p>this is the description of a super dope project</p>
					</div>
				</div>
			</a>
		</div>
	</section> -->
	<hr class="trigger opacity-0">

	<section class="relative space-y-8 flex justify-center items-center text-lblue text-center w-screen h-screen">
		<div class="absolute inset-5 lg:inset-35 3xl:inset-50 grid place-items-center py-8 px-4 sm:px-10 lg:px-12">	
 
				<div class="absolute top-0 left-0 border-lgreen border-t-6 border-l-6 w-20 aspect-[1/1]"></div>
				<div class="absolute bottom-0 left-0 border-lgreen border-b-6 border-l-6 w-20 aspect-[1/1]"></div>
				<div class="absolute top-0 right-0 border-lgreen border-t-6 border-r-6 w-20 aspect-[1/1]"></div>
				<div class="absolute bottom-0 right-0 border-lgreen border-b-6 border-r-6 w-20 aspect-[1/1]"></div>

			<div class="max-w-380 w-fit z-[100]">
				<span class="text-7xl font-semibold leading-18 xl:text-8xl xl:leading-24"> 
					We help the next generation build a communal future.</span>
				<p class="font-medium underline pt-10 px-2">We believe the youth can can change the world, prove us right.</p>
			</div>
		</div>
		
	</section>

	<section class="w-full lg:p-10 bg-dbrown py-10 h-fit">
		

		<div class="grid lg:grid-cols-3 w-full px-8 place-items-center relative mt-4">
			<div></div>
			<h2 class="text-center text-lgreen whitespace-nowrap"> Featured Projects</h2>
			<!-- <div class="lg:ml-auto">
				<a href="projects" target="_self" class="flex items-center gap-2">
					<p>View all projects</p>
					<img src="/assets/open_link.svg" width="25px"> 
				</a>
			</div> -->
		</div>
		<p class="text-center my-2 relative z-10 text-beige pb-10">By joining Cohort 1, your project could be featured below!</p>


		<ProjectsSlot />
	</section>

	<div class="click fixed top-0 left-0 opacity-0 z-1000 pointer-events-none select-none bg-dbrown border-2 border-brown rounded-xl rounded-bl-none text-green font-semibold tracking-wide px-1 py-0.5">
        <p>click</p>
    </div>
<div class="drag fixed top-0 left-0 opacity-0 z-1000 pointer-events-none select-none bg-dbrown border-2 border-brown 
rounded-xl rounded-bl-none text-lgreen font-semibold tracking-wide px-1 py-0.5">
        <p>drag</p>
    </div>
	</div> 
	</div>

	<script src="../app.js"></script>
		<script src="../follower.js"></script>
</BaseLayout>
