---
import BaseLayout from '../components/BaseLayout.astro';
const title = "Projects";
---
<BaseLayout title ={title}>
    <section>
        <h1 class="text-black">Depot Pick and Place</h1>
        <p>This is Depot's first project,  this is not a typical project, it is helping our community. This PnP allows for YOU to prototype faster than commercial services</p>
        <span class="w-full min-h-100 bg-gray rounded-lg"></span>
    </section>
</BaseLayout>