---
import BaseLayout from "../components/BaseLayout.astro";
import Helping from "../resources/helping.md";
const title = "Resources";
---
<!-- to jump to different categories of resources -->
<BaseLayout title={title} id="top" class="w-full h-full relative">
        <!-- <aside class="fixed bg-gray-200 h-screen py-4 px-2 w-60 text-center  -mt-24 pt-14 flex flex-col gap-6 -ml-8 md:-ml-10 lg:-ml-40 2xl:-ml-60">

        <div class="bg-dbrown px-4 py-2 rounded-lg text-2xl">LOGO</div>
    
        <nav class="flex flex-col gap-3 h-full"> 
            <a href="#help" class="py-3 bg-teal text-blue rounded-xl">Helping a cause</a>
            <a href="#pcbs" class="py-3 bg-teal text-blue rounded-xl">PCB Design</a>
            <a href="#cad" class="py-3 bg-teal text-blue rounded-xl">CAD</a>
            <a href="#webdev" class="py-3 bg-teal text-blue rounded-xl">Web Development</a>
            <a href="#writing_devlogs" class="py-3 bg-teal text-blue rounded-xl">Writing devlogs</a>
            <a href="#ordering" class="py-3 bg-teal text-blue rounded-xl">Writing devlogs</a>

        </nav>
        <p class="mt-auto ">Know another good resource? Make a pull request <a href="" target="_blank" class="text-blue underline">on GitHub</a></p>

    </aside> -->
    <a href="#top" class="fixed bottom-10 right-10 bg-white flex">
        <img src="/assets/black_up_arrow.png" width="25px">
        <p>back to top</p>
    </a>
    <section class="pl-8">
            <h2 class="text-2xl pb-4 pt-8" >Here we have compiled a list of resources for various subjects</h2>

        <section id="help">
    <Helping />
    </section>

        <section id="help">
    <Helping />
    </section>

        <section id="help">
    <Helping />
    </section>
    <section id="pcbs">
    <!-- <PCBs /> -->
    </section>
    </section>


    

    
    
</BaseLayout>