---
import BaseLayout from "../components/BaseLayout.astro";
import Helping from "../resources/helping.md";
const title = "Resources";
---
<!-- to jump to different categories of resources -->
<BaseLayout title={title} id="top" class="w-full h-full relative">
    <a href="#top" class="fixed bottom-10 right-10 bg-white flex">
        <img src="/assets/black_up_arrow.png" width="25px">
        <p>back to top</p>
    </a>
    <h3 class="text-2xl" >Here we have compiled a list of resources for various subjects we wish we had when starting out!</h3>

    <p>Jump to...</p>
    <nav class="text-teal underline space-x-4"> 
        <a href="#pcbs">PCBs (Printed Circuit Boards)</a>
        <a href="#cad">CAD</a>
        <a href="#webdev">Web Development</a>
        <a href="#writing_devlogs">Writing devlogs</a>
        <a href="#ordering">Writing devlogs</a>
    </nav>

    <section id="help">
    <h4>There are many ways to help a cause (many without requiring anything past downloading)</h4>
    <Helping />
    </section>
    <section id="help">
    <h4>There are many ways to help a cause (many without requiring anything past downloading)</h4>
    <Helping />
    </section>
    <section id="help">
    <h4>There are many ways to help a cause (many without requiring anything past downloading)</h4>
    <Helping />
    </section>
    <section id="help">
    <h4>There are many ways to help a cause (many without requiring anything past downloading)</h4>
    <Helping />
    </section>
</BaseLayout>