---
import BaseLayout from '../components/BaseLayout.astro';
---

<BaseLayout>
 <section class="font6">
    <h2 class="">depot Build a Change DEPOT 2025

    </h2>
    <p>Depot 17 do something</p>

 </section>
 <section>
     <p>Depot 17 do something</p>

 </section>

    <script type="module" src="../globe.js"></script>
</BaseLayout>