---
import BaseLayout from '../components/BaseLayout.astro';
---

<BaseLayout>
 <section class="font6">
    <h2 class="">depot Build a Change DEPOT 2025

    </h2>
    <p>Depot 17 do something</p>

 </section>
 <section>
     <p>Depot 17 do something</p>

 </section>
<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="41" height="41" rx="8" fill="#58CE48"/>
<rect x="3" y="3" width="35" height="35" rx="13" fill="#008C50"/>
<rect x="8" y="23" width="25" height="2" rx="1" fill="#F3F09E"/>
<rect x="8" y="16" width="25" height="2" rx="1" fill="#F3F09E"/>
</svg>



    <script type="module" src="../globe.js"></script>
</BaseLayout>