---
import BaseLayout from '../components/BaseLayout.astro';
---

<BaseLayout>
    <div class=" flex items-center justify-center min-h-[100vh] w-screen bg-blue">
        <div id="output" class="rounded-full text-green text-[3vmin] leading-[0.55em] text-rendering-[optimizeSpeed] will-change-[contents] whitespace-pre"></div>

    </div>
    

    <script type="module" src="../globe.js"></script>
</BaseLayout>