---
import BaseLayout from '../components/BaseLayout.astro';
---

<BaseLayout>
    <div class="h-screen">
<span class="click fixed top-0 left-0 opacity-0 z-[10000] pointer-events-none select-none bg-dbrown border-2 border-brown rounded-xl rounded-bl-none text-green font-semibold tracking-wide px-1 py-0.5">
    click
</span>
    <a href="https://sophiaduan.dev" target="_blank" class="bg-blue">asdf</a>

    </div>
    </div>
    

    <script src="../follower.js"></script>
</BaseLayout>