---
import BaseLayout from "../components/BaseLayout.astro";
import TrackOne from "../components/tracks/trackone.md";
---
<BaseLayout>
    <a href="/get_started"><-- back to tracks</a>
    <TrackOne />
</BaseLayout>