<footer class="px-8 md:px-10 lg:px-34 pb-10 bg-white">
    <div class="w-full h-100 bg-gray rounded-2xl p-6 border-2 border-black">
		<a href="https://github.com/builders-depot/builders-depot" target="_blank" class="text-center">
            <p class="">Github</p>
        </a>
	</div>
</footer>