---
const platform = "github"
const username = "buildersdepot";
import Social from './socials.astro';
---

<footer>
    <div class="w-full h-100 relative ">
      <Social platform = "instagram" username = "bobby" />
      <Social platform = "github" username = "bobby" />

		<a href="https://github.com/builders-depot/builders-depot" target="_blank" class=" underline">
            <p class="">Github</p>
    </a>
	</div>
</footer>