<header class="">
    <nav class="relative flex justify-between hide px-10 py-4 text-lg z-10">
        <a href="#" class="z-10 flex items-center space-x-2 rtl:space-x-reverse text-white">
            <div class="bg-blue px-4 py-2 rounded-10 text-2xl">LOGO</div>
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Depot</span>
        </a>
        <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-inter flex flex-col items-center p-4 md:p-0 mt-4 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 text-white">
                <li>
                    <a href="/index" target="_self" class="block py-2 px-3 text-white bg-blue-700 
                    rounded-sm md:bg-transparent md:p-0 dark:text-white 
                    md:dark:text-blue-500 " aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/about" target="_self" class="block py-2 px-3
                    rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
                    md:border-0 md:hover:text-yellow md:p-0 dark:text-white md:dark:hover:text-blue-500 
                    dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent transition-all">About</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3
                    rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
                    md:border-0 md:hover:text-yellow md:p-0 dark:text-white md:dark:hover:text-blue-500 
                    dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent transition-all">Projects</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3
                    rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
                    md:border-0 md:hover:text-yellow md:p-0 dark:text-white md:dark:hover:text-blue-500 
                    dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent transition-all">Community</a>
                </li>
                
            </ul>
        </div>
        <div class="z-10 md:flex hidden bg-transparent border border-2 border-white rounded-full px-6 py-2 flex items-center justify-center">
            <a href="#" class="block text-yellow 
            rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
            md:border-0 md:hover:text-yellow md:p-0 dark:text-white md:dark:hover:text-blue-500 
            dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent transition-all">

            Donate
        </a>
        </div>
        <button id="menu-toggle" class="z-10 bg-white w-6 h-6 md:hidden"></button>
    </nav>
</header>