---
const currentPath = Astro.url.pathname;
const homepage = Astro.url.pathname =="/";

---
<header id="navbar" class=" lg:block w-full flex top-0 relative justify-center w-screen ">
    <nav class="w-full flex bg-transparent justify-between items-center px-10 py-3 text-lg">
        <a href="#" class="z-10 flex items-center space-x-2 rtl:space-x-reverse text-white">
            <div class="bg-dbrown px-4 py-2 rounded-lg text-2xl">LOGO</div>
            <span id="name" class={`nav-item hover:opacity-70 self-center text-2xl font-semibold whitespace-nowrap 
            ${ currentPath === "/"
             ? 'text-black' //settle on a color
             : 'text-black'}`}>
                Builder's Depot</span>
        </a>
        <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-inter flex flex-col items-center p-4 md:p-0 mt-4 md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 text-black">
                <li>
                    <a href="/" target="_self" class={`nav-item block px-3 ${
                        currentPath === "/" 
                        ? "font-semibold"   
                        : "text-black"}`}>Home</a>
     
                <li>/</li>
                <li>
                    <a href="/projects" target="_self" class={`nav-item block px-3 text-black ${
                        currentPath === "/projects" 
                        ? "text-green font-semibold"   
                        : currentPath === "/" 
                    
                        }`}>Projects</a>
                </li>
                
                <li><p>/</p></li>
                <li>
                    <a href="/projects" target="_self" class={`nav-item block px-3 text-black ${
                        currentPath === "/projects" 
                        ? "text-green font-semibold"   
                        : currentPath === "/" 
                    
                        }`}>Get Started</a>
                </li>
                
                <li><p>/</p></li>
                <li>
                    <a href="/resources" target="_self" class={`nav-item block px-3 text-black ${
                        currentPath === "/resources" 
                        ? "text-green font-semibold"   
                        : currentPath === "/" 
                    
                        }`}>Resources</a>
                </li>

            </ul>
        </div>
        <div class="flex">
            <a href="#" class="w-auto hide bg-dbrown 
            rounded-full 
            min-h-10 px-6 py-2">
                <p class="text-lred">
                Shop</p>
            </a>
            <a href="#" class="hide bg-dbrown 
            rounded-full 
            min-h-10 px-6 py-2 -ml-2.5">
                <p class="text-lred">
                Donate</p>
            </a>
        </div>
        
    </nav>
    <hr class={`${ homepage ? 'hidden' : 'border-2 border-dashed border-gray-300'}`}>

    <nav class="nav w-full flex z-100 justify-center -mt-40 fixed">
      
        <div class="w-fit px-10 rounded-full py-1.5 backdrop-blur-lg bg-transp text-lg border-2 border-dbrown">
            <ul class="font-inter flex flex-col items-center p-4 md:p-0 mt-4 md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 text-black">
                <li>
                    <a href="/" target="_self" class={`nav-item block px-3 ${
                        currentPath === "/" 
                        ? "font-semibold"   
                        : "text-black"}`}>Home</a>
                </li>
                <li>
                    <a href="/projects" target="_self" class={`nav-item block px-3 text-black ${
                        currentPath === "/projects" 
                        ? "text-green font-semibold"   
                        : currentPath === "/" 
                    
                        }`}>Projects</a>
                </li>
                
                <li>
                    <a href="/projects" target="_self" class={`nav-item block px-3 text-black ${
                        currentPath === "/tbd" 
                        ? "text-green font-semibold"   
                        : currentPath === "/" 
                    
                        }`}>Get Started</a>
                </li>
                
                <li>
                    <a href="/resources" target="_self" class={`nav-item block px-3 text-black ${
                        currentPath === "/resources" 
                        ? "text-green font-semibold"   
                        : currentPath === "/" 
                    
                        }`}>Resources</a>
                </li>

            </ul>
        </div>
    </nav>
</header>
<script>
  const navbar = document.getElementById("navbar");
  window.addEventListener("scroll", () => {
    navbar.classList.toggle("scrolled", window.scrollY > 1000);
  });
</script>
<!-- redo the above with gsap TK -->