---
const currentPath = Astro.url.pathname;
const homepage = Astro.url.pathname =="/";

---
<header id="navbar" class={`z-[100] lg:block bg-tranparent w-full  flex top-0 justify-center w-screen ${
currentPath === "/"
? 'relative lg:absolute'
: ''}`}>
    <nav class="w-full flex bg-transparent justify-between items-center pt-3 px-10 text-lg">
        <a href="#" class="">
            <!-- <div class="bg-dbrown px-4 py-2 rounded-lg text-2xl">LOGO</div> -->
            <span id="name" class={`font-pixel hover:opacity-50 transition-all duration-400 ease-in-out text-3xl font-bold whitespace-nowrap 
            ${ currentPath === "/"
             ? 'text-black' //settle on a color
             : 'text-black'}`}>
                DEPOT17</span>
        </a>

        <div class="hidden w-full md:block md:w-auto">
            <ul class="flex flex-col items-center p-4 md:p-0  md:flex-row md:space-x-2 mt-2">
                <li>
                    <a href="/" target="_self" class={`font-medium block px-3 transition-all duration-400 ease-in-out ${
                        currentPath === "/" 
                        ? "font-bold"   
                        : "hover:text-green"}`}>Home</a>
     
                <li>/</li>
 
                <li>

                    <a href="/get_started" target="_self" class={`font-medium block px-3 transition-all duration-400 ease-in-out ${
                    currentPath === "/get_started" 
                    ? ""   
                    : "hover:text-green"
                
                    }`}>Get Started</a>

                    <!-- <div class="hidden group-hover:block absolute z-[100] bg-dbrown px-1 py-1  space-y-1 rounded-xl ">

                        <a href="#" target="_self" class="block hover:bg-transp px-2 rounded-lg transition-all duration-400 ease-in-out text-lred font-semibold">
                            Track One
                        </a>
                        <a href="#" target="_self" class="block hover:bg-transp px-2  pr-8  rounded-lg transition-all duration-400 ease-in-out text-lred font-semibold">
                            Track Two
                        </a>
                    </div>
                     -->
                </li>
                
                <!-- <li><p>/</p></li>
                <li>
                    <a href="/resources" target="_self" class={`nav-item block px-3 text-black ${
                        currentPath === "/resources" 
                        ? "text-green font-semibold"   
                        : currentPath === "/" 
                    
                        }`}>Resources</a>
                </li> -->
            <div class="flex">
            <!-- <a href="#" class="w-auto hide bg-dbrown 
            rounded-full 
            min-h-10 px-6 py-2">
                <p class="text-lred">
                Shop</p>
            </a> -->
            <a href="#" class="hide bg-dbrown
            rounded-full 
            min-h-10 px-4 py-2">
                <p class="text-lblue">
                Donate</p>
            </a>
        </div>
            </ul>
            
        </div>
        <!-- <div class="flex">
            <a href="#" class="w-auto hide bg-dbrown 
            rounded-full 
            min-h-10 px-6 py-2">
                <p class="text-lred">
                Shop</p>
            </a>
            <a href="#" class="hide bg-dbrown 
            rounded-full 
            min-h-10 px-6 py-2">
                <p class="text-lred">
                Donate</p>
            </a>
        </div> -->
        
    </nav>
    <!-- <hr class={`${ homepage ? 'hidden' : 'border-2 border-dashed border-gray-300'}`}> -->

    <nav class="nav w-full flex z-100  flex justify-end px-10 -mt-40 fixed">
        <!-- <div class="w-20 h-20 bg-yellow"></div> -->
        <ul class="w-fit p-0.75 px-1 max-h-[3rem] rounded-xl flex items-center gap-1 backdrop-blur-lg bg-transp text-lg border-2 border-dbrown">
                <li>
                    <a href="/" target="_self" 
                    class={`font-medium transition-all ease-in-out duration-200 py-3 block px-3  ${
                        currentPath === "/" 
                        ? "text-lblue"   
                        : ""}`}>Home</a>
                </li>
                <li>

                    <a href="/get_started" target="_self" 
                    class={`font-medium transition-all ease-in-out duration-200 py-3 block px-3  ${
                    currentPath === "/get_started" 
                    ? "text-lblue"   
                    : ""}`}>Get Started</a>
                    
                </li>
                
                 <!-- <li>
                    <a href="/" target="_self" class={`nav-item block px-3 text-dbrown${
                        currentPath === "/projects" 
                        ? "font-medium"   
                        : "font-bold"}`}>Get Started</a>
                </li> -->
                
                <!-- <li>
                    <a href="#" target="_self">
                        <p class="text-lred bg-dbrown rounded-2xl px-4 py-1">
                        Donate</p>
                    </a>
                        
                </li> -->

            </ul>
    </nav>
</header>
