---
const currentPath = Astro.url.pathname;
import BannerText from '../components/banner.md';
---

<header id="navbar" class={`z-[200] w-full top-0 ${
        currentPath === "/"
        ? ''
        : ''}`}>
    <!-- <nav class="nav-fixed lg:opacity-0 fixed w-full flex justify-between items-center h-14">

        <a href="#" class="h-full border-r-2 border-b-2 px-4 flex items-center justify-center pt-1 bg-beige/60">
            <span id="name" class={`font8 hover:opacity-50 transition-all duration-400 ease-in-out text-2xl font-bold whitespace-nowrap 
            ${ currentPath === "/"
             ? 'text-black' //settle on a color
             : 'text-black'}`}>
                DEPOT17</span>
        </a>

         <button data-collapse-toggle="navbar-default" type="button" class="aspect-[1/1] bg-beige/60 flex items-center justify-center border-l-2 border-b-2 h-full">
            <span class="sr-only">Open main menu</span>
            <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="9" width="32" height="4" fill="#352922"/>
            <rect width="32" height="4" fill="#352922"/>
            <rect y="18" width="32" height="4" fill="#352922"/>
            </svg>
        </button>
    </nav> -->
    
    <nav class="fixed w-screen md:inline-flex flex bg-transparent justify-between 
    items-start md:items-center text-lg box-border h-16 px-2 pt-2">
        <a href="#" class="h-full px-4 border-2 rounded-tl-lg  flex items-center justify-center pt-1 bg-beige">
            <span id="name" class={`font8 hover:opacity-50 transition-all duration-400 ease-in-out text-2xl font-bold whitespace-nowrap 
            ${ currentPath === "/"
             ? 'text-black' //settle on a color
             : 'text-black'}`}>
                DEPOT17</span>
        </a>
        <div id="spacer" class="grow overflow-hidden min-w-0 border-y-2 h-full flex items-center justify-center">
            <p id="banner" class="hidden md:block whitespace-nowrap font-medium">
                <BannerText />
                 APPLICATIONS FOR COHORT ONE ARE OPEN, APPLY BELOW.

		    </p>
        </div>
        
        
        <div class="nav-list hidden lg:inline-flex flex items-center justify-center gap-y-10 h-full border-2 border-r-0 px-3 py-1">
            <a href="#" class="nav-links h-full flex items-center justify-center rounded-full bg-lblue hover:text-lgreen hover:bg-dbrown w-fit box-border border-2 border-dbrown hover:border-brown font-medium px-4  ">
            Donate 
            </a>
        </div>
          

        <button id="nav-button" type="button" 
        class="z-[100] aspect-[1/1] flex items-center justify-center border-l-2 border-b-2 border-2 bg-beige rounded-tr-lg h-full box-border">
            <span class="sr-only">Open main menu</span>
            <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="9" width="32" height="4" fill="#352922"/>
            <rect width="32" height="4" fill="#352922"/>
            <rect y="18" width="32" height="4" fill="#352922"/>
            </svg>
        </button>

        <div id="nav-bg" class=" opacity-0 fixed w-screen top-0 left-0 flex justify-end bg-dbrown/60 h-screen" >
        <div  id="nav" class="w-full h-full max-w-140 outline-1 bg-beige rounded-xl lg:rounded-none p-2 ">
            <div class="border-2 border-dbrown rounded-lg w-full h-full flex flex-col box-border">
                <div class="h-13.5 w-full border-b-2 box-border"></div>
                
            
                <ul class="text-3xl xs:text-4xl sm:text-[4.7vh] whitespace-nowrap uppercase font-semibold p-2 xs:p-4 mt-8 mb-4 space-y-1">
                    <li class={`w-full h-fit p-0.5 pl-4 pt-4 border-dbrown border-2 rounded-lg nav-links overflow-hidden hover:text-green
                    ${ currentPath === "/"
                    ? 'bg-orange pointer-events-none'
                    : ''}`}>
                        <a href="/" target="_self" >Home</a>
                    </li>
            
                    <li class={`w-full h-fit p-0.5 pl-4 pt-4 border-dbrown border-2 rounded-lg nav-links overflow-hidden hover:text-green
                    ${ currentPath === "/get_started"
                    ? 'bg-orange pointer-events-none'
                    : ''}`}>
                        <a href="/get_started" target="_self" class="">Get Started</a>
                    </li>

                    <li class={`w-full h-fit p-0.5 pl-4 pt-4 border-dbrown border-2 rounded-lg nav-links overflow-hidden hover:text-green
                    ${ currentPath === "/projects"
                    ? 'bg-orange pointer-events-none'
                    : ''}`}>
                        <a href="/projects" target="_self" class="">Projects</a>
                    </li>

                    <li class={`w-full h-fit p-0.5 pl-4 pt-4 border-dbrown border-2 rounded-lg nav-links overflow-hidden hover:text-green
                    ${ currentPath === "/resources"
                    ? 'bg-orange pointer-events-none'
                    : ''}`}>                        
                        <a href="/resources" target="_self" class="">Resources</a>
                    </li>

                    <li class={`w-full h-fit p-0.5 pl-4 pt-4 border-dbrown border-2 rounded-lg nav-links overflow-hidden hover:text-green
                    ${ currentPath === "/contact"
                    ? 'bg-orange pointer-events-none'
                    : ''}`}>                        
                        <a href="/contact" target="_self" class="">Contact</a>
                    </li>
                </ul>

                <hr class="border-1">
                
                <div class="grow overflow-hidden">
                    <ul class="flex w-full h-full justify-center p-4 items-end gap-x-10 underline">
                        <li><a href="" target="_blank">LinkedIn</a></li>
                        <li><a href="" target="_blank">Blog</a></li>
                        <li><a href="https://github.com/Depot17" target="_blank">Github</a></li>

                    </ul>
                </div>

                <hr class="border-1">
                <div class="min-h-10 flex items-center justify-center">
                    <p>©DEPOT 17 2025 </p>
                </div>
            </div>
        </div>
        </div>

    </nav>  


    <script src="../app.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script> -->
</header>
