---
const homepage = Astro.url.pathname =="/";

---
<section class="space-y-10">
    <div class="space-y-10">
        <a href="/projects/pnp" target="_self" class="block">
            <div class=
            {`block relative w-full h-auto rounded-2xl p-4  transition-all 
            ${homepage 
            ? 'bg-brown border-none hover:scale-102 hover:shadow-xl duration-300' 
            : 'bg-white border-2 border-dashed border-gray-300'}`}>
                <div class="rounded-xl w-full h-80 p-6 bg-yellow border-red border-3">
                    <button type="button" class="absolute flex items-center overflow-hidden transition-all border border-2 border-black font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 absolute right-10 ">
                <span class="w-full group-hover:text-white transition colors duration-200 ease-in-out ">Support this</span>
                </button>
                </div>
                
                <div class="px-2 bottom-0 mb-6">
                    <h1 class="text-[5vh] font-semibold flex gap-4 items-center">Depot Pick n' Place <span class={`w-8 h-8 bg-lred rounded-full ${homepage ? 'hidden' : 'block'}`}></span></h1>
                    <p>By: Sophia D.</p>
                    <p class="pt-2">This is the description of a super dope project. Here is a brief explanation for the viewer. 
                        And also a bit about the idea and or progress.</p>
                </div>
            </div>
        </a>
    </div>
    <!-- <div class="space-y-10">
        <a href="proj1.astro" target="_self" class="block">
            <div class=
            {`block relative w-full h-auto rounded-2xl p-4  transition-all 
            ${homepage ? 'bg-brown border-none hover:scale-102 hover:shadow-xl duration-300' : 'bg-white'}`}>
                <div class="rounded-xl w-full h-80 p-6 bg-yellow border-red border-3">
                    <button type="button" class="absolute flex items-center overflow-hidden transition-all border border-2 border-black font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 absolute right-10 ">
                <span class="w-full group-hover:text-white transition colors duration-200 ease-in-out ">Support this</span>
                </button>
                </div>
                
                <div class="px-2 bottom-0 mb-10">
                    <h1 class="text-[5vh] font-semibold">Depot Pick n' Place</h1>
                    <p>By: Sophia D.</p>
                    <p class="pt-2">This is the description of a super dope project. Here is a brief explanation for the viewer. 
                        And also a bit about the idea and or progress.</p>
                </div>
            </div>
        </a>
    </div>
    <div class={`space-y-10 ${homepage ? 'hidden' : 'block'}`}>
        <a href="proj1.astro" target="_self" class="block">
            <div class=
            {`block relative w-full h-auto rounded-2xl p-4  transition-all 
            ${homepage ? 'bg-brown border-none hover:scale-102 hover:shadow-xl duration-300' : 'bg-white'}`}>
                <div class="rounded-xl w-full h-80 p-6 bg-yellow border-red border-3">
                    <button type="button" class="absolute flex items-center overflow-hidden transition-all border border-2 border-black font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 absolute right-10 ">
                <span class="w-full group-hover:text-white transition colors duration-200 ease-in-out ">Support this</span>
                </button>
                </div>
                
                <div class="px-2 bottom-0 mb-10">
                    <h1 class="text-[5vh] font-semibold">Depot Pick n' Place</h1>
                    <p>By: Sophia D.</p>
                    <p class="pt-2">This is the description of a super dope project. Here is a brief explanation for the viewer. 
                        And also a bit about the idea and or progress.</p>
                </div>
            </div>
        </a>
    </div> -->
</section>