---
import BaseLayout from "../../components/BaseLayout.astro";

const title = "PNP"
---

<BaseLayout title={title} class="w-full h-full">
    <h2>Depot Pick n' Place</h2>
    <p class="py-1.5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias a quibusdam, in nisi vitae debitis dolore eligendi aperiam. Sint suscipit nisi doloremque quos temporibus dolore tempore a ipsum, amet veniam.
    </p>

    <div class="banner w-full rounded-lg bg-gray-300 h-80 my-4"></div>
    <div class="tags flex gap-2 items-center">

        <p>Tags:</p>
        <ul class="flex gap-2"> 
            <li class="px-3 py-1 rounded-full bg-lred text-white">Hardware</li>
            <li class="px-3 py-1 rounded-full bg-lred text-white">Depot</li>
        </ul>
    </div>
    <h4 class="pt-2">The issue we set out to tackle:</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta blanditiis cumque veritatis atque sed esse ut praesentium non error porro odit tempore accusamus qui, a exercitationem rem ad voluptatum saepe!</p>
    <h4>The team: <span>TBD TBD TBD</span></h4>
<!-- import devlogs sort the most recent to top, add a ordering ability, oldest or newest -->
</BaseLayout>